name: continuous-integration/github/pr/linux

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  pyomo-linux-tests:
    name: py${{ matrix.python-version }}
    runs-on: ubuntu-latest
    timout-minutes: 90
    strategy:
      max-parallel: 3
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    #- name: Setup Conda
    #  uses: goanpeca/setup-miniconda@v1
    #  with:
    #    auto-update-conda: true
    #    python-version: ${{ matrix.python-version }}

    - name: Conda info
      shell: bash -l {0}
      run: |
        conda info
        conda init bash
        conda env list

    - name: Conda list
      shell: pwsh
      run: conda list

    - uses: actions/checkout@v1

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      shell: bash -l {0}
      run: |
        conda config --set auto_update_conda false
        conda env list
        conda activate test
        conda config --set always_yes yes
        python -m pip install --upgrade pip
        pip install --quiet git+https://github.com/PyUtilib/pyutilib
        pip install --quiet git+https://github.com/Pyomo/pyomo
        python setup.py develop
        pip install nose coverage codecov pyyaml
        conda install -c conda-forge glpk ipopt

    - name: Run tests
      shell: bash -l {0}
      run: |
        nosetests --with-xunit --with-coverage --cover-xml .
        coverage report -m

    - name: Send coverage data to codecov
      shell: bash -l {0}
      run: |
        export CODECOV_TOKEN="a045cd48-34f2-47ea-a819-ed1ec4e41f36"
        codecov
