name: continuous-integration/github/pr/linux

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
  - cron: "0 2 * * 1-5"

jobs:
  linux:
    name: py${{ matrix.python-version }}
    runs-on: ubuntu-latest
    timeout-minutes: 90
    strategy:
      max-parallel: 3
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
    - name: Setup Conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: ${{ matrix.python-version }}

    - name: Conda info
      shell: bash -l {0}
      run: |
        conda info
        conda init bash
        conda env list

    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      shell: bash -l {0}
      run: |
        conda env list
        conda activate test
        conda config --set always_yes yes
        python -m pip install --upgrade pip
        pip install --quiet git+https://github.com/PyUtilib/pyutilib
        pip install --quiet git+https://github.com/Pyomo/pyomo
        python setup.py develop
        pip install wheel
        pip install nose coverage codecov pyyaml scipy==1.7.3 sphinx sphinx_rtd_theme gurobipy coramin
        conda install -c conda-forge coincbc glpk ipopt
        conda list

    - name: Run tests
      shell: bash -l {0}
      run: |
        conda list
        cd doc/readthedocs; make doctest
        cd ../..; nosetests --with-xunit --with-coverage --cover-xml -v .
        coverage report -m

    - name: Send coverage data to codecov
      shell: bash -l {0}
      run: |
        export CODECOV_TOKEN="a045cd48-34f2-47ea-a819-ed1ec4e41f36"
        codecov
